L’OBJECTIF EST DE :
APPLIQUER LES NOTIONS DE DATA QUALITY ET DATA REFINEMENT
NETTOYER ET TRANSFORMER UN DATASET BRUT
PRODUIRE UNE DONNÉE EXPLOITABLE ET COHÉRENTE
JUSTIFIER LES CHOIX EFFECTUÉS
PROJET FINAL
TÂCHES ATTENDUES :
1.COMPRENDRE LE CONTEXTE ET LES DONNÉES
2.IDENTIFIER LES PROBLÈMES DE QUALITÉ
3.NETTOYER LES DONNÉES
4.TRANSFORMER LES DONNÉES
5.VÉRIFIER LA QUALITÉ FINALE
SOURCES DE DONNÉES :
CHOIX DU DATASET : dirty_cafe_sales.csv

RÉALISER UN REFINEMENT COMPLET D’UN DATASET BRUT

DATE/HEURE MAX DE RENDU : MERCREDI 08/01/2026 À 23H59
ÉLÉMENTS À RENDRE:
CODE SOURCE SUIVANT L’ORGANISATION DÉTAILLÉE DANS LA SLIDE PRÉCÉDENTE VIA
LIEN GITHUB À REMPLIR DANS LE CSV
DATASET FINAL NETTOYÉ (CSV)
RAPPORT (1-2 PAGES)
IMPORTANT :
LES CHOIX DOIVENT ÊTRE JUSTIFIÉS
LE RAISONNEMENT ET LA LOGIQUE DOIVENT ÊTRE MIS EN AVANT
LA LOGIQUE EST PLUS IMPORTANTE QUE LA PERFECTION TECHNIQUE